

.collapseContainer{
    width: 100%;

    .collapseItem{
        background-color: #F6F6F6;
        margin-bottom: 20px;
        .collapseTitleContainer{
           min-width: 80%;
            display: flex;
            align-items: center;
            height: 40px;
            background-color: #FF6060;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            cursor: pointer;
            justify-content: space-between;
            .collapseTitle{
                color: white;
                font-size: 18px;
                @media (max-width:848px){
                    font-size: 13px;
                }
            }
            .collapseSign{
                font-size: 26px;
                color: white;
                @media (max-width:848px){
                    font-size: 12px;
                }

            }
        }
        .collapseDescriptionContainer{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            max-width: 100%;
          
            p, div{
                color:#FF6060;
                font-size: 18px;
                text-align: left;
                margin:5px;
                @media (max-width:848px){
                    font-size: 12px;
                }
                              
            }
        }
    }
}
.descriptionOpen{
    display: block;
    p{
        margin: 5px;
    }
}

.descriptionClose{
    display: none;
}